{% extends "base.html" %}
{% load static %}

{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

{% endblock stylesheet %}


{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
    <div class="col-lg-10">
        <h2>Crear Alerta</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock breadcrumb %}
{% block content %}

<div class="col-md-12">


        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Docente</th>
              <th scope="col">Estudiante</th>
              <th scope="col">Curso</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            {% for i in auditoria %}
            <tr>
              <td>{{i.teacher}}</td>
              <td>{{i.student}}</td>
              <td>{{i.seccion.nrc}}</td>
              <td>{{i.publish_date}}</td>
            </tr>
            {% endfor %} 

          </tbody>
        </table>
    </div>



{% endblock content %}


{% block javascript %}
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

<script>
    
</script>


{% endblock javascript %}