<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for i in auditoria %}

    <h1>{{i.publish_date}}</h1>
    <h1>{{i.student}}</h1>
    <h1>{{i.teacher}}</h1>
    <h1>{{i.seccion.nrc}}</h1>

    {% endfor %}

    <!--
    {% for z in seccion %}
    <h1>{{z.nrc}}</h1>
    {% endfor %}
    -->
</body>
</html>