{% extends "base.html" %}
{% load static %}

{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

{% endblock stylesheet %}

<body>
    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            {% include "partials/_sidebar.html" %}
        </div>
    </nav>
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            {% comment %}
            {% endcomment %}
        </div>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Bienvenido <strong> {{request.user.first_name}} {{request.user.last_name}}</strong></span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-messages">
                    </ul>
                </li>
                <li class="dropdown" id="notifications">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary" ></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i>
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <a id="borrar"><strong class="center-text">Borrar Notificaciones</strong></a>
                    </ul>
                </li>

{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
    <div class="col-lg-10">
        <h2>Crear Alerta</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock breadcrumb %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 col-offset-10">
                <h1 class = 'text-center' style="margin-top:30px;">Generar Auditoria</h1>

                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{form}}
                    <input type="submit" value="Enviar" class="btn btn-primary btn-lg btn-block">
                </form>
                <br>
            </div>

        </div>
    </div>
{% endblock content %}


{% block javascript %}
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

<script>

</script>


{% endblock javascript %}
