{% extends "base.html" %}
{% load static %}

{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

{% endblock stylesheet %}


{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
    <div class="col-lg-10">
        <h2>Crear Minuta</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock breadcrumb %}
{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Tematica</label>
            <div class="input-group">
                {{form.thematic}}
            </div>
            {{form.thematic.errors}}
        </div>
        <div class="form-group">
            <label>Direccion</label>
            <div class="input-group">
                {{form.address}}
            </div>
            {{form.address.errors}}
        </div>
        <div class="form-group">
            <label>Documento</label>
            <div class="input-group">
                {{form.document}}
            </div>
            {{form.document.errors}}
        </div>

        
        <button type="submit" class="btn btn-primary btn-block py-2">Editar Minuta</button>

    </form>


{% endblock content %}


{% block javascript %}
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

<script>
    
</script>


{% endblock javascript %}
