{% extends "base.html" %}
{% load static %}
{% load retroTags %}
{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">

<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0,0,0,0.6);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      z-index:10000;
    }
    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
</style>
{% endblock stylesheet %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
    <div class="col-lg-10">
        <h2>Punto de encuentro</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-lg-4" style="width: 100%;">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="width: 100%;height: 100px;">
                <small class="pull-left">{{ post.publish_date }}</small>
                <br>
                <div class="ibox-tools">
                    <input type="hidden" id="currentUserId" value={{request.user.userprofile.pk}}>
                    <input type="hidden" id="mediaPrefix" value='/media/'>
                    <div id="title_edit" style="display:none">
                        <div class="form-group">
                            <label for="exampleInputEmail2" class="sr-only">Titulo de Pregunta:</label>
                            <input type="text" placeholder="Ingrese titulo de la pregunta..." id="titulo_pregunta" class="form-control" value="{{post.title}}">
                        </div>
                    </div>
                    <div id="title">
                        <span class="label label-info pull-left">{{post.comment_set.all.count}} Respuestas</span>
                        <h5 style="padding-left: 20px;" id="post_title">Pregunta: {{ post.title }}</h5>
                        <a href="profile.html" class="pull-right">
                            <img alt="image" class="img-circle" src="{% static 'img/default_user.png' %}" style="width: 38px;height: 38px;">
                        </a>
                        <small class="pull-right">
                          <b>
                            {{post.author.user.first_name}} {{post.author.user.last_name}} - Umbral de respuesta del Profesor {{ post.thread.section.teacher.umbral }}
                          </b>
                        </small>
                    </div>
                </div>
            </div>
            <div class="ibox-content col-md-12">
                <p id="post_description">{{ post.description|safe }}</p>
                <div id="post_edit" style="display:none">
                    <div class="summernote form-control" id="summernote_post">{{ post.description }}</div>
                </div>
                {% if post.author == request.user.userprofile %}
                <div class="row">
                    <div class="pull-right col-md-2 col-sm-2 col-lg-2">
                        <button class="m-l-xs pull-right btn btn-warning btn-circle" type="button" data-toggle="tooltip"
                                data-placement="top" title="Editar" data-original-title="Editar" id="editar_pregunta"><i class="fa fa-pencil"></i>
                        </button>
                      <button class="pull-right btn btn-danger btn-circle" type="button" data-toggle="tooltip"
                              data-placement="top" title="Reportar Profesor" id="reportar"><i class="fa fa-times"></i>
                      </button>
                      <button class="pull-right btn btn-info btn-circle" type="button" data-toggle="tooltip"
                            data-placement="top" title="Aceptar Cambios" data-original-title="Aceptar" id="aceptar_cambio" style="display:none"><i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
            <button id="orderbtn" type="button" class="btn btn-outline btn-xs btn-primary pull-right" value="None" onclick="orderAnswers()" style="margin-top: 10px;">Ordenar por Calificación</button>
            <div class="ibox-content">
                <div class="row">
                    <div id="feedAnswers" class="feed-activity-list">
                        {% for x,y,z in Comments %}
                        <div id="Answer_{{x.pk}}" class="feed-element" align="left">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <small class="pull-left">{{x.publish_date}}</small>
                                    <a href="profile.html" class="pull-right">
                                        <img alt="image" class="img-circle" src="{% static 'img/default_user.png' %}">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right" style=""> <b>{{x.author.user.first_name}} {{x.author.user.last_name}}</b></small><br>
                                        <div class="well" id="description{{x.pk}}">{{x.description|safe}}</div>
                                        <div id="edit_field{{x.pk}}" style="display:none">
                                            <div placeholder="Escriba su comentario" class="form-control summernote" type="text"
                                                id="summernote{{x.pk}}" name="description">{{x.description|safe}}</div>
                                        </div>
                                        <div style="padding-top: 2px; padding-bottom: 2px;">
                                            {% if z != "" %}
                                                <a href="{% get_media_prefix %}{{z.document}}" title="Imagen" download="{{z.document}}" >
                                                <span>
                                                    <img src="{% get_media_prefix %}{{z.document}}" onclick="this.width=500;this.height=500;"
                                                        onmouseout="this.width=50;this.height=50;" width="50" height="50"
                                                        alt="" />
                                                    {% if x.author.user == request.user %}
                                                        <a class="imagen" data-pk="{{z.pk}}">Eliminar</a>
                                                    {% endif %}
                                                </span>
                                            </a>
                                            {% endif %}
                                        </div>
                                        <div id="edit_field{{x.pk}}" style="display:none">
                                            <div placeholder="Escriba su comentario" class="form-control summernote" type="text"
                                                id="summernote" name="description">{{x.description|safe}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <button id="ratingNumber_{{forloop.counter}}" class="ratingNumber" onclick="rateAnswer(this.id,'ratingStars_{{forloop.counter}}')"
                                                style="display: inline;"><b id="ratingNumberTxt__{{forloop.counter}}"
                                                    style="font-size: 18px; color: gold;">☆ {{y}}</b></button>
                                            <small id="ratingStars_{{forloop.counter}}" class="rating" style="display: none; font-size: 150%;">
                                                <span id="rating5_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating4_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating3_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating2_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating1_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                            </small>
                                        </div>
                                        {% if x.author == request.user.userprofile %}
                                        <div class="col-md-offset-3 col-md-3 col-lg-3 ">
                                            <a class="btn btn-sm btn-warning pull-right editar" id="editar{{x.pk}}" data-pk="{{x.pk}}">Editar</a>
                                            <a class="btn btn-sm btn-info pull-right aceptar" id="aceptar{{x.pk}}" style="display:none" data-pk="{{x.pk}}">Aceptar</a>
                                            <a class="btn btn-sm btn-danger pull-right eliminar" data-pk="{{x.pk}}">Eliminar</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-12 col-sm-12" style="padding-top:2%">
                        <form id="formComment" method="POST" action="{% url 'comment_post' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" value="{{post.pk}}" name="Postpk" hidden>
                            <div class="form-group">
                                <label>Comentar:</label>
                                <input placeholder="Escriba su comentario" class="form-control summernote" type="text"
                                    id="summernote" name="description">
                            </div>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename"></span>
                                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Adjuntar Archivo</span>
                                    <span class="fileinput-exists">Cambiar</span>
                                    <input type="file" id="id_document" name="document" />
                                </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-warning btn-sm" type="submit"><i class="fa fa-pencil"></i>
                                    Comentar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

  <script>
    function getCookie(name){
      var cookieValue = null;
      if (document.cookie && document.cookie != ''){
          var cookies = document.cookie.split(';');
          for(var i = 0; i < cookies.length; i++){
              var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue
    }
    function rateAnswer(idRatingNumber, idRatingStar) {
        var x = document.getElementById(idRatingNumber);
        var y = document.getElementById(idRatingStar);
        if (y.style.display === "none") {
            x.style.display = "none";
            y.style.display = "inline";
        } else {
            x.style.display = "inline";
            y.style.display = "none";
        }
    }
    function postRating(commentPk, idRatingNumber, idRatingStar, idRatingNumberTxt, idStar) {
        var x = document.getElementById(idRatingNumber);
        var y = document.getElementById(idRatingStar);
        var z = document.getElementById(idRatingNumberTxt);
        if (x.style.display === "none") {
            var ratingUser = idStar.replace("rating", "").split("_")[0];
            $.ajax({
                url: $(this).attr('action'),
                type: "POST",
                data : {
                  rtype : 'rate',
                  rating : ratingUser,
                  comment : commentPk,
                  csrfmiddlewaretoken : getCookie('csrftoken'),
                },
                success: function (data) {
                    z.innerHTML = '☆ ' + data[commentPk];
                    x.style.display = "inline";
                    y.style.display = "none";
                },
            });
        } else {
            x.style.display = "none";
            y.style.display = "inline";
        }
    }
    function orderAnswers() {
       var btn = document.getElementById("orderbtn");
       var sortOrder = ""
       if (btn.value == "None") {
         btn.value = "Ascending"
         btn.innerText = "Menor a mayor calificado ▲"
         btn.classList.add("btn-primary");
         sortOrder = "Ascending"
       }else if (btn.value == "Ascending") {
         btn.value = "Descending"
         btn.innerText = "Mayor a menor calificado ▼"
         sortOrder = "Descending"
       }else if (btn.value == "Descending") {
         btn.value = "Ascending"
         btn.innerText = "Menor a mayor calificado ▲"
         sortOrder = "Ascending"
       }
       $.ajax({
         url : $(this).attr('action'),
         type : "POST",
         data : {
           rtype : 'sort',
           order : sortOrder,
           csrfmiddlewaretoken : getCookie('csrftoken'),
         },
         success : function(data){
           var answerFeed = document.getElementById("feedAnswers");
           $('#feedAnswers').html('');
           var answerHtml = ''
           for (x in data){
             var answer = document.getElementById("Answer_"+x);
             if(answer != null){
               answerFeed.removeChild(answer);
             }
            var datepublish = new Date(data[x]['publish_date']);
            answerHtml +=
                       '<div id="Answer_'+data[x]['pk']+'" class="feed-element" align="left">'+
                            '<div class="row">'+
                                '<div class="col-lg-12 col-md-12 col-sm-12">'+
                                    '<small class="pull-left">'+datepublish.toLocaleString()+'</small>'+
                                    '<a href="profile.html" class="pull-right">'+
                                        '<img id="imgprof_'+data[x]['pk']+'" alt="image" class="img-circle" src="'+"{% static 'img/default_user.png' %}"+'">'+
                                    '</a>'+
                                    '<div class="media-body ">'+
                                      '<small class="pull-right" style=""> <b>'+data[x]['authorName']+'</b></small><br>'  +
                                      '<div class="well" id="description' + data[x]['pk'] + '">'+data[x]['description']+'</div>'+
                                      '<div id="edit_field'+data[x]['pk']+'" style="display:none">'+
                                            '<div placeholder="Escriba su comentario" class="form-control summernote" type="text"'+
                                                'id="summernote'+data[x]['pk']+'" name="description">'+data[x]['description']+'</div>'+
                                        '</div>'+
                                        '<div id="file_'+data[x]['pk']+'" style="padding-top: 2px; padding-bottom: 2px;">';
            if(data[x]['file'] != ""){
                  answerHtml += '<a href="'+document.getElementById("mediaPrefix").value+data[x]['fileDocument']+'" title="Imagen" download="'+data[x]['fileDocument']+'">'+
                                                '<span>'+
                                                     '<img src="'+document.getElementById("mediaPrefix").value+data[x]['fileDocument']+'" onclick="this.width=500;this.height=500;"'+
                                                              'onmouseout="this.width=50;this.height=50;" width="50" height="50" alt="" />';
                  if(data[x]['authorPk'] == document.getElementById("currentUserId").value){
                      answerHtml += '<a class="imagen" data-pk="'+data[x]['file']+'">Eliminar</a>';
                  }
                  answerHtml += '</span> </a>';
            }
            answerHtml +=      '</div>'+
                                        '<div id="edit_field'+data[x]['pk']+'" style="display:none">'+
                                            '<div placeholder="Escriba su comentario" class="form-control summernote" type="text"'+
                                                'id="summernote" name="description">'+data[x]['description']+'</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-12 col-md-12 col-sm-12">'+
                                    '<div id = "row_'+data[x]['pk']+'" class="row">'+
                                        '<div class="col-md-6 col-lg-6">'+
                                          '<button id="ratingNumber_'+x+'" class="ratingNumber"'+'onclick="rateAnswer(this.id,&#39ratingStars_'+x+'&#39)"style="display: inline;"><b id="ratingNumberTxt_'+x+'" style="font-size: 18px; color: gold;">☆ '+data[x]['rating']+'</b></button>'+
                                          '<small id="ratingStars_'+x+'" class="rating" style="display: none; font-size: 150%;">'+
                                            '<span id="rating5_'+x+'",this.id)" onclick="postRating('+data[x]['pk']+',&#39ratingNumber_'+x+'&#39,&#39ratingStars_'+x+'&#39,&#39ratingNumberTxt_'+x+'&#39,this.id)">☆</span>'+
                                            '<span id="rating4_'+x+'",this.id)" onclick="postRating('+data[x]['pk']+',&#39ratingNumber_'+x+'&#39,&#39ratingStars_'+x+'&#39,&#39ratingNumberTxt_'+x+'&#39,this.id)">☆</span>'+
                                            '<span id="rating3_'+x+'",this.id)" onclick="postRating('+data[x]['pk']+',&#39ratingNumber_'+x+'&#39,&#39ratingStars_'+x+'&#39,&#39ratingNumberTxt_'+x+'&#39,this.id)">☆</span>'+
                                            '<span id="rating2_'+x+'",this.id)" onclick="postRating('+data[x]['pk']+',&#39ratingNumber_'+x+'&#39,&#39ratingStars_'+x+'&#39,&#39ratingNumberTxt_'+x+'&#39,this.id)">☆</span>'+
                                            '<span id="rating1_'+x+'",this.id)" onclick="postRating('+data[x]['pk']+',&#39ratingNumber_'+x+'&#39,&#39ratingStars_'+x+'&#39,&#39ratingNumberTxt_'+x+'&#39,this.id)">☆</span>'+
                                          '</small>'+
                                        '</div>';
              if(data[x]['authorPk'] == document.getElementById("currentUserId").value){
              answerHtml +=  '<div class="col-md-offset-3 col-md-3 col-lg-3 ">'+
                                           '<a class="btn btn-sm btn-warning pull-right editar" id="editar'+data[x]['pk']+'" data-pk="'+data[x]['pk']+'" onclick ="editAnswer()">Editar</a>'+
                                           '<a class="btn btn-sm btn-info pull-right aceptar" id="aceptar'+data[x]['pk']+'" style="display:none" data-pk="'+data[x]['pk']+'">Aceptar</a>'+
                                           '<a class="btn btn-sm btn-danger pull-right eliminar" data-pk="'+data[x]['pk']+'">Eliminar</a>'+
                                        '</div></div>'
              }
              answerHtml += '</div> </div> </div>';
              $('#feedAnswers').html(answerHtml);
              $('.summernote').summernote({
                  toolbar: false,
                  height: 100,
              });
          }
         },
       });
    }
    function upload(event) {
        event.preventDefault();
        var data = new FormData($('form').get(0));
        data.append('content', $('#summernote').summernote('code'));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#summernote').summernote('reset');
                $("#saved_file").val("");
                if (data.message == "ok") {
                    location.reload();
                }
            }
        });
        return false;
    }
    function editAnswer(){
      var pk = $(this).data("pk");
      $("#edit_field"+pk).show();
      $("#description"+pk).hide();
      $("#editar"+pk).hide();
      $("#aceptar"+pk).show();
    }
    $(document).ready(function () {
        $('.summernote').summernote({
            toolbar: false,
            height: 100,
        });
        $(".imagen").click(function () {
            var pk = $(this).data("pk");
            $.ajax({
                url: '{% url "delete_imag" %}',
                type: "POST",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    pk: pk
                },
                success: function (data) {
                    if (data.message == "ok") {
                        location.reload();
                    }
                }
            });
        })
        $(function () {
            $('form').submit(upload);
        });
        $(document).on('click', '.eliminar', function () {
            var pk = $(this).data("pk");
            let data = {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                pk: pk,
            };
            $.ajax({
                url: '{% url "delete_comment" %}',
                type: "POST",
                data: data,
                success: function (data) {
                    if (data.message == "ok") {
                        location.reload();
                    }
                }
            });
        });
        $(document).on('click', '.aceptar', function () {
            var pk = $(this).data("pk");
            let data = {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                pk: pk,
                comment:$('#summernote'+pk).summernote('code'),
            };
            console.log(data)
            $.ajax({
                url: '{% url "update_comment" %}',
                type: "POST",
                data: data,
                success: function (response) {
                    if (response.message == "ok") {
                        console.log("Entre al if");
						$("#description"+pk).html(response.text);
						$("#edit_field"+pk).hide();
						$("#description"+pk).show();
						$("#editar"+pk).show();
						$("#aceptar"+pk).hide();
                    }
                }
            });
        });
        $(document).on('click', '.editar', function () {
          var pk = $(this).data("pk");
          console.log($("#edit_field"+pk));
          console.log($("#description"+pk));
          console.log($("#editar"+pk));
          console.log($("#aceptar"+pk));
          $("#edit_field"+pk).show();
          $("#description"+pk).hide();
          $("#editar"+pk).hide();
          $("#aceptar"+pk).show();
        });
      $(document).on('click', '#editar_pregunta', function () {
          $("#title_edit").show();
          $("#title").hide();
          $("#aceptar_cambio").show();
          $("#editar_pregunta").hide();
          $("#reportar").hide();
          $("#post_edit").show();
          $("#post_description").hide();
      });
      $(document).on('click', '#aceptar_cambio',function () {
          let data = {
              csrfmiddlewaretoken: getCookie('csrftoken'),
              pk: "{{post.pk}}",
              title: $("#titulo_pregunta").val(),
              comment:$('#summernote_post').summernote('code'),
          };
          console.log(data)
          $.ajax({
              url: '{% url "update_post" %}',
              type: "POST",
              data: data,
              success: function (response) {
                  if (response.message == "ok") {
                      console.log("Entre al if");
          $("#post_description").html(response.text);
          $("#post_title").html("Pregunta: "+ response.title);
          $("#title_edit").hide();
                      $("#title").show();
                      $("#aceptar_cambio").hide();
                      $("#editar_pregunta").show();
                      $("#reportar").show();
                      $("#post_edit").hide();
                      $("#post_description").show();
                  }
              }
          });
      });
      $('#reportar').on('click', function () {
        $.ajax({
            url: '{% url "post_details" post.pk %}',
            type: "POST",
            data: {
              csrfmiddlewaretoken: getCookie('csrftoken'),
              pk: {{ post.pk }},
              rtype: 'report_teacher'
            },
            success: function () {
            }
        });
      })
    });
</script>
{% endblock javascript %}