{% extends "base.html" %}
{% load static %}
{% load retroTags %}
{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0,0,0,0.6);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      z-index:10000;
    }
    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
</style>
{% endblock stylesheet %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
    <div class="col-lg-10">
        <h2>Punto de encuentro</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock breadcrumb %}
{% block content %}
  <div class="row" >
      <div class="col-lg-4" style="width: 100%;">
          <div class="ibox float-e-margins">
              <div class="ibox-title" style="width: 100%;height: 100px;">
                  <small class="pull-left">Ayer 5:20 pm - 12.06.2018</small>
                  <br>
                  <div class="ibox-tools">
                    <span class="label label-warning-light pull-left">{{post.comment_set.all.count}} Respuestas</span>
                    <h5 style="padding-left: 20px;">Pregunta: {{ post.title }}</h5>
                    <a href="profile.html" class="pull-right">
                      <img alt="image" class="img-circle" src="{% static 'img/a5.jpg' %}" style="width: 38px;height: 38px;">
                    </a>
                    <small class="pull-right"> <b>Francisca Ramirez</b></small>
                  </div>
              </div>
              <div class="ibox-content col-md-12">
                <p>{{ post.description }}</p>
              </div>
              <div class="ibox-content">
                  <div class="row">
                      <div id="feedAnswers" class="feed-activity-list">
                          {% for x,y in Comments %}
                          <div class="feed-element" align="left">
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                      <small class="pull-left">{{x.publish_date}}</small>
                                      <a href="profile.html" class="pull-right">
                                          <img alt="image" class="img-circle" src="{% static 'img/a1.jpg' %}">
                                      </a>
                                      <div class="media-body ">
                                          <small class="pull-right" style=""> <b>{{x.author.user.first_name}} {{x.author.user.last_name}}</b></small><br>
                                          <div class="well">{{x.description|safe}}</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                      <div class="row">
                                          <div class="col-md-6 col-lg-6">
                                              <button id="ratingNumber_{{forloop.counter}}" class="ratingNumber" onclick="rateAnswer(this.id,'ratingStars_{{forloop.counter}}')" style="display: inline;"><b id="ratingNumberTxt__{{forloop.counter}}" style="font-size: 18px; color: gold;">☆ {{y}}</b></button>
                                              <small id="ratingStars_{{forloop.counter}}" class="rating" style="display: none; font-size: 150%;">
                                                <span id="rating5_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating4_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating3_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating2_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                                <span id="rating1_{{forloop.counter}}" onclick="postRating({{x.pk}},'ratingNumber_{{forloop.counter}}','ratingStars_{{forloop.counter}}','ratingNumberTxt__{{forloop.counter}}',this.id)">☆</span>
                                              </small>
                                          </div>
                                          <div class="col-md-offset-3 col-md-3 col-lg-3 ">
                                              <a class="btn btn-sm btn-warning pull-right">Editar</a>
                                              <a class="btn btn-sm btn-danger pull-right eliminar" data-pk="{{x.pk}}" >Eliminar</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          {% endfor %}
                      </div>
                      <div class="col-lg-12 col-sm-12" style="padding-top:2%">
                          <form id="formComment" method="POST" action="{% url 'post_details' post.pk %}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <input type="text" value="{{Postpk}}" name="Postpk" hidden>
                              <div class="form-group">
                                <label>Comentar:</label>
                                <input placeholder="Escriba su comentario"  class="form-control summernote#1" type="text" id="summernote" name="description">
                              </div>
                              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                  <div class="form-control" data-trigger="fileinput">
                                      <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                  <span class="fileinput-filename"></span>
                                  </div>
                                  <span class="input-group-addon btn btn-default btn-file">
                                      <span class="fileinput-new">Adjuntar Archivo</span>
                                      <span class="fileinput-exists">Cambiar</span>
                                      <input type="file" id="id_document" name="document"/>
                                  </span>
                                  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                              </div>
                              <div class="pull-right">
                                  <button class="btn btn-warning btn-sm" type="submit"><i class="fa fa-pencil"></i> Comentar</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
  <script>
    function getCookie(name){
      var cookieValue = null;
      if (document.cookie && document.cookie != ''){
          var cookies = document.cookie.split(';');
          for(var i = 0; i < cookies.length; i++){
              var cookie = jQuery.trim(cookies[i]);

              if(cookie.substring(0,name.length + 1) == (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue
    }
    function rateAnswer(idRatingNumber,idRatingStar) {
       var x = document.getElementById(idRatingNumber);
       var y = document.getElementById(idRatingStar);
       if (y.style.display === "none") {
           x.style.display = "none";
           y.style.display = "inline";
         } else {
           x.style.display = "inline";
           y.style.display = "none";
         }
    }
    function postRating(commentPk,idRatingNumber,idRatingStar,idRatingNumberTxt,idStar) {
      var x = document.getElementById(idRatingNumber);
      var y = document.getElementById(idRatingStar);
      var z = document.getElementById(idRatingNumberTxt);
      if (x.style.display === "none") {
          //window.alert(comment.description)
          var ratingUser = idStar.replace("rating", "").split("_")[0];

          $.ajax({
            url : "{% url 'question' %}",
            type : "POST",
            data : {
              rating : ratingUser,
              comment : commentPk,
              csrfmiddlewaretoken : getCookie('csrftoken'),
            },
            success : function(data){
              z.innerHTML = '☆ ' + data[commentPk];
              x.style.display = "inline";
              y.style.display = "none";
              //console.log(data);
              //console.log(commentPk);
              //console.log(data[commentPk]);
            },
          });

      } else {
          x.style.display = "none";
          y.style.display = "inline";
      }
    }
    function upload(event) {
        event.preventDefault();
        var data = new FormData($('form').get(0));
        data.append('content',$('#summernote').summernote('code'));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                $('#summernote').summernote('reset');
                $("#saved_file").val("");
                if (data.message == "ok"){
                    location.reload();
                }
            }
        });
        return false;
    }
    $(document).ready(function(){
      $('.summernote').summernote({
          toolbar: false,
          height: 100,
      });
      {#$(function() {#}
      {#  $('form').submit(upload);#}
      {#});#}
      $(".eliminar").click(function(){
          var pk = $(this).data("pk");
          let data = {
              csrfmiddlewaretoken: getCookie('csrftoken'),
              pk: pk,
          };
          $.ajax({
            url:'{% url "delete_comment" %}',
            type: "POST",
            data: data,
            success: function(data) {
                if (data.message == "ok"){
                    location.reload();
                }
              }
          });
      });
    });
  </script>
{% endblock javascript %}