{% extends "base.html" %}
{% load static %}
{% load retroTags %}
{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <style>
    .modal {
    text-align: center;
    padding: 0!important;
  }

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  </style>
{% endblock stylesheet %}


{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
    <div class="col-lg-10">
        <h2>Punto de encuentro - Hilo: {{ thread.name }} - Preguntas </h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock breadcrumb %}
{% block content %}

<div class="row">
  <div class="col-lg-12 animated fadeInRight">
      <div class="wrapper wrapper-content">
      {% with request|PrivilegeCreateThread:thread.section.pk as crearHilo %}
{#            {% if request|PrivilegeCreateThread:section.pk %}#}
        <div class="col-md-12">
          <form action="{% url 'thread_details' thread.pk %}" class="form-horizontal" method="get">
            <div class="form-group col-md-6">
              <input type="text" name="search" id="id_search" class="form-control" placeholder="Buscar..." value="{{searchFilter|cut:'&search='}}">
            </div>
            <div class="{% if crearHilo %}col-md-2{% else %}col-md-3{% endif %}">
              <button type="submit" class="btn btn-success btn-block"><i class="fa fa-search"></i> Buscar</button>
            </div>
            <div class="{% if crearHilo %}col-md-2{% else %}col-md-3{% endif %}">
              <a href="{% url 'section_details' thread.section.pk %}">
                <button type="button" class="btn btn-warning btn-block" ><i class="fa fa-arrow-circle-left"></i> Volver</button>
              </a>
            </div>
            {% if crearHilo %}
            <div class="col-md-2">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPost"><i class="fa fa-plus"></i> Crear Pregunta</button>
            </div>
            {% endif %}
          </form>
        </div>
        {% endwith %}
{#            {% endif %}#}
        <div class="col-md-12">
          {% for x in postlist %}
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-10">
                        <div class="vote-actions">
                            <a href="#">
                                <i class="fa fa-chevron-up"> </i>
                            </a>
                            <div>32</div>
                            <a href="#">
                                <i class="fa fa-chevron-down"> </i>
                            </a>
                        </div>
                        <a href="{% url 'post_details' x.pk %}" class="vote-title">
                            {{ x.title }}
                        </a>
                        <div class="vote-info">
                            <i class="fa fa-question-circle-o"></i> <a href="#">Respuestas ({{ x.comment_set.all.count }})</a>
                            <i class="fa fa-check"></i> <a href="#">Valoraciones ({{ x.postranking_set.all.count }})</a>
                            <i class="fa fa-clock-o"></i> <a href="#">{% with x.getDiference as difference %} {{ difference }} {% if difference == 1 %}Hora{% else %}Horas{% endif %} atrás {% endwith %}</a>
{#                                <i class="fa fa-user"></i> <a href="#">Andrew Williams</a>#}
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="vote-icon">
                            <i class="fa fa-sign-in"> </i>
                        </div>
                    </div>
                    {% if x.author.user == request.user %}
                    <div class="col-md-offset-9 col-md-3 col-lg-3 ">
                      <a class="btn btn-sm btn-danger pull-right eliminar" data-pk="{{x.pk}}" >Eliminar</a>
                    </div>
                {% endif %}
                </div>
            </div>
          {% endfor %}
        </div>
        {% if postlist.paginator.count != 0 %}
          <div class="row text-center">
            <ul class="pagination">
              {% if postlist.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ postlist.previous_page_number }}{{searchFilter}}">Anterior</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">Anterior</a>
                </li>
              {% endif %} {% if postlist.number|add:'-4' > 1 %}
              <li><a href="?page={{ postlist.number|add:'-5' }}{{searchFilter}}">&hellip;</a></li>
            {% endif %} {% for i in postlist.paginator.page_range %} {% if postlist.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > postlist.number|add:'-5' and i < postlist.number|add:'5' %} <li><a href="?page={{ i }}{{searchFilter}}">{{i}}</a></li>
            {% endif %} {% endfor %} {% if postlist.paginator.num_pages > postlist.number|add:'4' %}
              <li><a href="?page={{ postlist.number|add:'5' }}{{searchFilter}}">&hellip;</a></li>
            {% endif %} {% if postlist.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ postlist.next_page_number }}{{searchFilter}}">Siguiente</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">Siguiente</a>
              </li>
            {% endif %}
            </ul>
          </div>
        {% else %}
        <div class="col-md-12">
              <div class="alert alert-info text-center">
                No se han encontrado preguntas para tu filtro de búsqueda.
              </div>
            </div>
      {% endif %}
      </div>
  </div>
</div>
<div class="modal inmodal fade" id="addPost" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'thread_details' thread.pk %}" class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">Crear Pregunta</h4>
              <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
          <div class="modal-body">

              <div class="form-group">
                <label class="control-label">Título de la pregunta:</label>
                  {{ postform.title }}
              </div>
            <div class="form-group">
                <label class="control-label">Contenido:</label>
                  {{ postform.description }}
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Crear Pregunta</button>
              
          </div>
        </form>
      </div>
  </div>
</div>
{% if postparecido == 1 %}
<div class="modal inmodal fade" id="mensaje" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          {% csrf_token %}
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">{{request.user}}</h4>
          </div>
          <div class="modal-body text-center">
            <label for="">La pregunta que quieres hacer se parece a: {{postfrase}}</label>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endblock content %}


{% block javascript %}

<script>
    function getCookie(name){
      var cookieValue = null;
      if (document.cookie && document.cookie != ''){
          var cookies = document.cookie.split(';');
          for(var i = 0; i < cookies.length; i++){
              var cookie = jQuery.trim(cookies[i]);

              if(cookie.substring(0,name.length + 1) == (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue
    }
    
    $(document).ready(function(){
        {% if postparecido == 1 %}
        $('#mensaje').modal('show');
         {% endif %}
      $(".eliminar").click(function(){
        var pk = $(this).data("pk");
        let data = {
            csrfmiddlewaretoken: getCookie('csrftoken'),
            pk: pk,
        };
        $.ajax({
          url:'{% url "delete_post" %}',
          type: "POST",
          data: data,
          success: function(data) {
              if (data.message == "ok"){
                  location.reload();
              }
            }
        });
      });
    });
</script>


{% endblock javascript %}