{% extends 'base.html' %}

{% block content %}
<div class="Container">

<!-- hilos -->
<div class="row">
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Hilos</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Cómo se crea un hilo?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>
                        <!--  -->
                        <question>
                            <strong>¿Cómo sigo un hilo?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- Manejo de archivos -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Archivos</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Como subir archivos?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>
                        <!--  -->
                        <question>
                            <strong>¿Como eliminar un archivo?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>


                    </div>
                </div>
            </div>
<!-- Preguntas -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Preguntas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Cómo creo una pregunta?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>
                        <!--  -->
                        <question>
                            <strong>¿Cómo sigo una pregunta?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- cierre div row -->
</div>
<!-- Respuestas -->
<div class="row">

<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Respuestas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Como califico una respuesta?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>
                        <question>
                            <strong>¿Como realizo una respuesta a una pregunta?</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- no se  -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>No se </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>XQ??</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- no se 2 -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>No se 2</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>XQ??</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- cierre div row -->
</div>

<!-- cierre container -->
</div>

{% endblock content %}
