{% extends 'base.html' %}

{% block content %}
<div class="Container">

<!-- hilos -->
<div class="row">
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Hilos</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Cómo se crea un hilo?</strong><br>
                        </question>

                        <answer>
                            En primera instancia se debe entrar a la sección correspondiente, en este apartado debe dirigirse a Crear hilo, luego se debe rellenar el formulario.<br>
                        </answer>
                        <!--  -->
                        <question>
                            <strong>¿Cómo sigo un hilo?</strong><br>
                        </question>

                        <answer>
                            Debe dirigirse al apartado del hilo, y seleccionar la opción SEGUIR, y con esto ya se estará siguiendo el hilo.<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- Manejo de archivos -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Archivos</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Como subir archivos?</strong><br>
                        </question>

                        <answer>
                            En el apartado de la pregunta, en la sección de Comentar en la parte inferior, debe seleccionar la opción ADJUNTAR ARCHIVO, y a través del explorador de archivos, seleccionar la imagen correspondiente.<br>
                        </answer>
                        <!--  -->
                        <question>
                            <strong>¿Como eliminar un archivo?</strong><br>
                        </question>

                        <answer>
                            En el apartado de las respuestas, en la parte inferior de la imagen, seleccionar la opción ELIMINAR.<br>
                        </answer>


                    </div>
                </div>
            </div>
<!-- Preguntas -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Preguntas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Cómo creo una pregunta?</strong><br>
                        </question>

                        <answer>
                            En el apartado del hilo correspondiente, seleccionar la opción de CREAR PREGUNTA, se debe rellenar el aṕartado de Título de la pregunta con la pregunta misma, y en el apartado de COntenido, se debe dar el contexto de ésta.<br>
                        </answer>
                        <!--  -->
                        <question>
                            <strong>¿Cómo sigo una pregunta?</strong><br>
                        </question>

                        <answer>
                            En el apartado del los hilos, se debe seleccionar la pregunta correspondiente, luego seleccionar la opción de SEGUIR, con esto ya se estará siguiendo pregunta.<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- cierre div row -->
</div>
<!-- Respuestas -->
<div class="row">

<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Respuestas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Como califico una respuesta?</strong><br>
                        </question>

                        <answer>
                            En el apartado de la pregunta, en la parte inferior izquierda de la respuesta, se debe seleccionar la estrella de color amarillo, con esto se podrá calficar la respuesta.<br>
                        </answer>
                        <question>
                            <strong>¿Como realizo una respuesta a una pregunta?</strong><br>
                        </question>

                        <answer>
                            En el apartado de la pregunta, en la parte inferior de la página, se debe rellenar el apartado de Comentar, luego seleccionar la opción de COMENTAR.<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- no se  -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Reunion/minuta </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>skere</strong><br>
                        </question>

                        <answer>
                            XQ SI!!<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- no se 2 -->
<div class="col-lg-4">
                <div class="ibox ">
                  <!-- Titulo y para cerrar -->
                    <div class="ibox-title">
                        <h5>Umbral de tiempo</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <question>
                            <strong>¿Como establecer un umbral de tiempo?</strong><br>
                        </question>

                        <answer>
                            En el apartado del mi perfil, seleccionar la opción EDITAR MI UMBRAL, donde sérá posible editar el umbral del perfil correspondiente.<br>
                        </answer>

                    </div>
                </div>
            </div>
<!-- cierre div row -->
</div>

<!-- cierre container -->
</div>

{% endblock content %}
